body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  background: #e3f2fd top left repeat-y;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Carter One", cursive;
}
.App {
  background-color: #e3f2fd;
}
.darkTextField {
  background: #f2d2bd;
  color: #111;
}
.lightTextField {
  background: #e3f2fd;
  color: #f2d2bd;
}
.images {
  float: left;
  padding: 10px 10px;
  min-width: 300px;
  width: 50%;
  height: 50%;
  object-fit: cover;
}
@media screen and(max-width: 576px) {
  .images {
    width: 400px;
  }
}
